.popup {
    background-color: #FFF;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.2);
    border-radius: 10px;
    display: none;
    height: 280px;
    left: 50%;
    margin-left: -240px;
    margin-top: -140px;
    padding: 40px 35px;
    position: fixed;
    top: 50%;
	@include vendor-prefix(transition, all 0.2s ease-out 0s);
    //transition: all 0.2s ease-out 0s;
    width: 480px;
	max-width: 100%;
}
.popup.is-active {
    //animation: 1300ms linear 0s alternate both 1 form-fly-up;
	@include vendor-prefix(animation, 1300ms linear 0s alternate both 1 form-fly-up);
    display: block;
    z-index: 5;
}
@media only screen and (max-width: 480px) {
	body {
		.popup {
			left: 0;
			right: 0;
			margin-left: 0;
			top: 40px;
			margin-top: 0;
			max-height: 90%;
			overflow: auto;
		}
	}
}
@keyframes form-fly-up {
0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -500, 0, 1);
}
2.5641% {
    transform: matrix3d(1, 0, 0, 0, 0, 1.41683, 0, 0, 0, 0, 1, 0, 0, -262.414, 0, 1);
}
5.1282% {
    transform: matrix3d(1, 0, 0, 0, 0, 1.37431, 0, 0, 0, 0, 1, 0, 0, -110.892, 0, 1);
}
7.69231% {
    transform: matrix3d(1.02276, 0, 0, 0, 0, 1.19769, 0, 0, 0, 0, 1, 0, 0, -30.0374, 0, 1);
}
10.2564% {
    transform: matrix3d(1.08198, 0, 0, 0, 0, 1.02141, 0, 0, 0, 0, 1, 0, 0, 4.96607, 0, 1);
}
12.8205% {
    transform: matrix3d(1.11011, 0, 0, 0, 0, 0.93225, 0, 0, 0, 0, 1, 0, 0, 15.0981, 0, 1);
}
15.3846% {
    transform: matrix3d(1.11407, 0, 0, 0, 0, 0.90335, 0, 0, 0, 0, 1, 0, 0, 14.2134, 0, 1);
}
17.9487% {
    transform: matrix3d(1.10161, 0, 0, 0, 0, 0.9081, 0, 0, 0, 0, 1, 0, 0, 9.95034, 0, 1);
}
20.5128% {
    transform: matrix3d(1.08, 0, 0, 0, 0, 0.92785, 0, 0, 0, 0, 1, 0, 0, 5.76675, 0, 1);
}
23.0769% {
    transform: matrix3d(1.05522, 0, 0, 0, 0, 0.95142, 0, 0, 0, 0, 1, 0, 0, 2.77841, 0, 1);
}
25.641% {
    transform: matrix3d(1.03163, 0, 0, 0, 0, 0.97304, 0, 0, 0, 0, 1, 0, 0, 1.01851, 0, 1);
}
28.2051% {
    transform: matrix3d(1.01194, 0, 0, 0, 0, 0.99021, 0, 0, 0, 0, 1, 0, 0, 0.15471, 0, 1);
}
30.7692% {
    transform: matrix3d(0.99741, 0, 0, 0, 0, 1.00233, 0, 0, 0, 0, 1, 0, 0, -0.17281, 0, 1);
}
33.3333% {
    transform: matrix3d(0.98819, 0, 0, 0, 0, 1.00974, 0, 0, 0, 0, 1, 0, 0, -0.2323, 0, 1);
}
35.8974% {
    transform: matrix3d(0.98369, 0, 0, 0, 0, 1.01324, 0, 0, 0, 0, 1, 0, 0, -0.18697, 0, 1);
}
38.4615% {
    transform: matrix3d(0.98289, 0, 0, 0, 0, 1.01378, 0, 0, 0, 0, 1, 0, 0, -0.1198, 0, 1);
}
41.0256% {
    transform: matrix3d(0.98462, 0, 0, 0, 0, 1.01234, 0, 0, 0, 0, 1, 0, 0, -0.06422, 0, 1);
}
43.5897% {
    transform: matrix3d(0.98779, 0, 0, 0, 0, 1.00977, 0, 0, 0, 0, 1, 0, 0, -0.02798, 0, 1);
}
46.1538% {
    transform: matrix3d(0.99148, 0, 0, 0, 0, 1.00681, 0, 0, 0, 0, 1, 0, 0, -0.00823, 0, 1);
}
48.7179% {
    transform: matrix3d(0.99504, 0, 0, 0, 0, 1.00396, 0, 0, 0, 0, 1, 0, 0, 0.00056, 0, 1);
}
51.282% {
    transform: matrix3d(0.99803, 0, 0, 0, 0, 1.00157, 0, 0, 0, 0, 1, 0, 0, 0.0033, 0, 1);
}
53.8462% {
    transform: matrix3d(1.00026, 0, 0, 0, 0, 0.99979, 0, 0, 0, 0, 1, 0, 0, 0.00328, 0, 1);
}
56.4103% {
    transform: matrix3d(1.00169, 0, 0, 0, 0, 0.99864, 0, 0, 0, 0, 1, 0, 0, 0.00236, 0, 1);
}
58.9744% {
    transform: matrix3d(1.00241, 0, 0, 0, 0, 0.99807, 0, 0, 0, 0, 1, 0, 0, 0.00139, 0, 1);
}
61.5385% {
    transform: matrix3d(1.00257, 0, 0, 0, 0, 0.99795, 0, 0, 0, 0, 1, 0, 0, 0.00069, 0, 1);
}
64.1026% {
    transform: matrix3d(1.00233, 0, 0, 0, 0, 0.99814, 0, 0, 0, 0, 1, 0, 0, 0.00026, 0, 1);
}
66.6667% {
    transform: matrix3d(1.00186, 0, 0, 0, 0, 0.99851, 0, 0, 0, 0, 1, 0, 0, 0.00005, 0, 1);
}
69.2308% {
    transform: matrix3d(1.00131, 0, 0, 0, 0, 0.99895, 0, 0, 0, 0, 1, 0, 0, -0.00003, 0, 1);
}
71.7949% {
    transform: matrix3d(1.00078, 0, 0, 0, 0, 0.99938, 0, 0, 0, 0, 1, 0, 0, -0.00005, 0, 1);
}
74.359% {
    transform: matrix3d(1.00032, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, -0.00004, 0, 1);
}
76.9231% {
    transform: matrix3d(0.99998, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, -0.00003, 0, 1);
}
79.4872% {
    transform: matrix3d(0.99976, 0, 0, 0, 0, 1.00019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
82.0513% {
    transform: matrix3d(0.99964, 0, 0, 0, 0, 1.00029, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
84.6154% {
    transform: matrix3d(0.99962, 0, 0, 0, 0, 1.00031, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
87.1795% {
    transform: matrix3d(0.99965, 0, 0, 0, 0, 1.00028, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
89.7436% {
    transform: matrix3d(0.99972, 0, 0, 0, 0, 1.00023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
92.3077% {
    transform: matrix3d(0.9998, 0, 0, 0, 0, 1.00016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
94.8718% {
    transform: matrix3d(0.99988, 0, 0, 0, 0, 1.0001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
97.4359% {
    transform: matrix3d(0.99995, 0, 0, 0, 0, 1.00004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
}

@-webkit-keyframes form-fly-up {
0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -500, 0, 1);
}
2.5641% {
    transform: matrix3d(1, 0, 0, 0, 0, 1.41683, 0, 0, 0, 0, 1, 0, 0, -262.414, 0, 1);
}
5.1282% {
    transform: matrix3d(1, 0, 0, 0, 0, 1.37431, 0, 0, 0, 0, 1, 0, 0, -110.892, 0, 1);
}
7.69231% {
    transform: matrix3d(1.02276, 0, 0, 0, 0, 1.19769, 0, 0, 0, 0, 1, 0, 0, -30.0374, 0, 1);
}
10.2564% {
    transform: matrix3d(1.08198, 0, 0, 0, 0, 1.02141, 0, 0, 0, 0, 1, 0, 0, 4.96607, 0, 1);
}
12.8205% {
    transform: matrix3d(1.11011, 0, 0, 0, 0, 0.93225, 0, 0, 0, 0, 1, 0, 0, 15.0981, 0, 1);
}
15.3846% {
    transform: matrix3d(1.11407, 0, 0, 0, 0, 0.90335, 0, 0, 0, 0, 1, 0, 0, 14.2134, 0, 1);
}
17.9487% {
    transform: matrix3d(1.10161, 0, 0, 0, 0, 0.9081, 0, 0, 0, 0, 1, 0, 0, 9.95034, 0, 1);
}
20.5128% {
    transform: matrix3d(1.08, 0, 0, 0, 0, 0.92785, 0, 0, 0, 0, 1, 0, 0, 5.76675, 0, 1);
}
23.0769% {
    transform: matrix3d(1.05522, 0, 0, 0, 0, 0.95142, 0, 0, 0, 0, 1, 0, 0, 2.77841, 0, 1);
}
25.641% {
    transform: matrix3d(1.03163, 0, 0, 0, 0, 0.97304, 0, 0, 0, 0, 1, 0, 0, 1.01851, 0, 1);
}
28.2051% {
    transform: matrix3d(1.01194, 0, 0, 0, 0, 0.99021, 0, 0, 0, 0, 1, 0, 0, 0.15471, 0, 1);
}
30.7692% {
    transform: matrix3d(0.99741, 0, 0, 0, 0, 1.00233, 0, 0, 0, 0, 1, 0, 0, -0.17281, 0, 1);
}
33.3333% {
    transform: matrix3d(0.98819, 0, 0, 0, 0, 1.00974, 0, 0, 0, 0, 1, 0, 0, -0.2323, 0, 1);
}
35.8974% {
    transform: matrix3d(0.98369, 0, 0, 0, 0, 1.01324, 0, 0, 0, 0, 1, 0, 0, -0.18697, 0, 1);
}
38.4615% {
    transform: matrix3d(0.98289, 0, 0, 0, 0, 1.01378, 0, 0, 0, 0, 1, 0, 0, -0.1198, 0, 1);
}
41.0256% {
    transform: matrix3d(0.98462, 0, 0, 0, 0, 1.01234, 0, 0, 0, 0, 1, 0, 0, -0.06422, 0, 1);
}
43.5897% {
    transform: matrix3d(0.98779, 0, 0, 0, 0, 1.00977, 0, 0, 0, 0, 1, 0, 0, -0.02798, 0, 1);
}
46.1538% {
    transform: matrix3d(0.99148, 0, 0, 0, 0, 1.00681, 0, 0, 0, 0, 1, 0, 0, -0.00823, 0, 1);
}
48.7179% {
    transform: matrix3d(0.99504, 0, 0, 0, 0, 1.00396, 0, 0, 0, 0, 1, 0, 0, 0.00056, 0, 1);
}
51.282% {
    transform: matrix3d(0.99803, 0, 0, 0, 0, 1.00157, 0, 0, 0, 0, 1, 0, 0, 0.0033, 0, 1);
}
53.8462% {
    transform: matrix3d(1.00026, 0, 0, 0, 0, 0.99979, 0, 0, 0, 0, 1, 0, 0, 0.00328, 0, 1);
}
56.4103% {
    transform: matrix3d(1.00169, 0, 0, 0, 0, 0.99864, 0, 0, 0, 0, 1, 0, 0, 0.00236, 0, 1);
}
58.9744% {
    transform: matrix3d(1.00241, 0, 0, 0, 0, 0.99807, 0, 0, 0, 0, 1, 0, 0, 0.00139, 0, 1);
}
61.5385% {
    transform: matrix3d(1.00257, 0, 0, 0, 0, 0.99795, 0, 0, 0, 0, 1, 0, 0, 0.00069, 0, 1);
}
64.1026% {
    transform: matrix3d(1.00233, 0, 0, 0, 0, 0.99814, 0, 0, 0, 0, 1, 0, 0, 0.00026, 0, 1);
}
66.6667% {
    transform: matrix3d(1.00186, 0, 0, 0, 0, 0.99851, 0, 0, 0, 0, 1, 0, 0, 0.00005, 0, 1);
}
69.2308% {
    transform: matrix3d(1.00131, 0, 0, 0, 0, 0.99895, 0, 0, 0, 0, 1, 0, 0, -0.00003, 0, 1);
}
71.7949% {
    transform: matrix3d(1.00078, 0, 0, 0, 0, 0.99938, 0, 0, 0, 0, 1, 0, 0, -0.00005, 0, 1);
}
74.359% {
    transform: matrix3d(1.00032, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, -0.00004, 0, 1);
}
76.9231% {
    transform: matrix3d(0.99998, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, -0.00003, 0, 1);
}
79.4872% {
    transform: matrix3d(0.99976, 0, 0, 0, 0, 1.00019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
82.0513% {
    transform: matrix3d(0.99964, 0, 0, 0, 0, 1.00029, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
84.6154% {
    transform: matrix3d(0.99962, 0, 0, 0, 0, 1.00031, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
87.1795% {
    transform: matrix3d(0.99965, 0, 0, 0, 0, 1.00028, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
89.7436% {
    transform: matrix3d(0.99972, 0, 0, 0, 0, 1.00023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
92.3077% {
    transform: matrix3d(0.9998, 0, 0, 0, 0, 1.00016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
94.8718% {
    transform: matrix3d(0.99988, 0, 0, 0, 0, 1.0001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
97.4359% {
    transform: matrix3d(0.99995, 0, 0, 0, 0, 1.00004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
}
@-moz-keyframes form-fly-up {
0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -500, 0, 1);
}
2.5641% {
    transform: matrix3d(1, 0, 0, 0, 0, 1.41683, 0, 0, 0, 0, 1, 0, 0, -262.414, 0, 1);
}
5.1282% {
    transform: matrix3d(1, 0, 0, 0, 0, 1.37431, 0, 0, 0, 0, 1, 0, 0, -110.892, 0, 1);
}
7.69231% {
    transform: matrix3d(1.02276, 0, 0, 0, 0, 1.19769, 0, 0, 0, 0, 1, 0, 0, -30.0374, 0, 1);
}
10.2564% {
    transform: matrix3d(1.08198, 0, 0, 0, 0, 1.02141, 0, 0, 0, 0, 1, 0, 0, 4.96607, 0, 1);
}
12.8205% {
    transform: matrix3d(1.11011, 0, 0, 0, 0, 0.93225, 0, 0, 0, 0, 1, 0, 0, 15.0981, 0, 1);
}
15.3846% {
    transform: matrix3d(1.11407, 0, 0, 0, 0, 0.90335, 0, 0, 0, 0, 1, 0, 0, 14.2134, 0, 1);
}
17.9487% {
    transform: matrix3d(1.10161, 0, 0, 0, 0, 0.9081, 0, 0, 0, 0, 1, 0, 0, 9.95034, 0, 1);
}
20.5128% {
    transform: matrix3d(1.08, 0, 0, 0, 0, 0.92785, 0, 0, 0, 0, 1, 0, 0, 5.76675, 0, 1);
}
23.0769% {
    transform: matrix3d(1.05522, 0, 0, 0, 0, 0.95142, 0, 0, 0, 0, 1, 0, 0, 2.77841, 0, 1);
}
25.641% {
    transform: matrix3d(1.03163, 0, 0, 0, 0, 0.97304, 0, 0, 0, 0, 1, 0, 0, 1.01851, 0, 1);
}
28.2051% {
    transform: matrix3d(1.01194, 0, 0, 0, 0, 0.99021, 0, 0, 0, 0, 1, 0, 0, 0.15471, 0, 1);
}
30.7692% {
    transform: matrix3d(0.99741, 0, 0, 0, 0, 1.00233, 0, 0, 0, 0, 1, 0, 0, -0.17281, 0, 1);
}
33.3333% {
    transform: matrix3d(0.98819, 0, 0, 0, 0, 1.00974, 0, 0, 0, 0, 1, 0, 0, -0.2323, 0, 1);
}
35.8974% {
    transform: matrix3d(0.98369, 0, 0, 0, 0, 1.01324, 0, 0, 0, 0, 1, 0, 0, -0.18697, 0, 1);
}
38.4615% {
    transform: matrix3d(0.98289, 0, 0, 0, 0, 1.01378, 0, 0, 0, 0, 1, 0, 0, -0.1198, 0, 1);
}
41.0256% {
    transform: matrix3d(0.98462, 0, 0, 0, 0, 1.01234, 0, 0, 0, 0, 1, 0, 0, -0.06422, 0, 1);
}
43.5897% {
    transform: matrix3d(0.98779, 0, 0, 0, 0, 1.00977, 0, 0, 0, 0, 1, 0, 0, -0.02798, 0, 1);
}
46.1538% {
    transform: matrix3d(0.99148, 0, 0, 0, 0, 1.00681, 0, 0, 0, 0, 1, 0, 0, -0.00823, 0, 1);
}
48.7179% {
    transform: matrix3d(0.99504, 0, 0, 0, 0, 1.00396, 0, 0, 0, 0, 1, 0, 0, 0.00056, 0, 1);
}
51.282% {
    transform: matrix3d(0.99803, 0, 0, 0, 0, 1.00157, 0, 0, 0, 0, 1, 0, 0, 0.0033, 0, 1);
}
53.8462% {
    transform: matrix3d(1.00026, 0, 0, 0, 0, 0.99979, 0, 0, 0, 0, 1, 0, 0, 0.00328, 0, 1);
}
56.4103% {
    transform: matrix3d(1.00169, 0, 0, 0, 0, 0.99864, 0, 0, 0, 0, 1, 0, 0, 0.00236, 0, 1);
}
58.9744% {
    transform: matrix3d(1.00241, 0, 0, 0, 0, 0.99807, 0, 0, 0, 0, 1, 0, 0, 0.00139, 0, 1);
}
61.5385% {
    transform: matrix3d(1.00257, 0, 0, 0, 0, 0.99795, 0, 0, 0, 0, 1, 0, 0, 0.00069, 0, 1);
}
64.1026% {
    transform: matrix3d(1.00233, 0, 0, 0, 0, 0.99814, 0, 0, 0, 0, 1, 0, 0, 0.00026, 0, 1);
}
66.6667% {
    transform: matrix3d(1.00186, 0, 0, 0, 0, 0.99851, 0, 0, 0, 0, 1, 0, 0, 0.00005, 0, 1);
}
69.2308% {
    transform: matrix3d(1.00131, 0, 0, 0, 0, 0.99895, 0, 0, 0, 0, 1, 0, 0, -0.00003, 0, 1);
}
71.7949% {
    transform: matrix3d(1.00078, 0, 0, 0, 0, 0.99938, 0, 0, 0, 0, 1, 0, 0, -0.00005, 0, 1);
}
74.359% {
    transform: matrix3d(1.00032, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, -0.00004, 0, 1);
}
76.9231% {
    transform: matrix3d(0.99998, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, -0.00003, 0, 1);
}
79.4872% {
    transform: matrix3d(0.99976, 0, 0, 0, 0, 1.00019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
82.0513% {
    transform: matrix3d(0.99964, 0, 0, 0, 0, 1.00029, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
84.6154% {
    transform: matrix3d(0.99962, 0, 0, 0, 0, 1.00031, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
87.1795% {
    transform: matrix3d(0.99965, 0, 0, 0, 0, 1.00028, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
89.7436% {
    transform: matrix3d(0.99972, 0, 0, 0, 0, 1.00023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
92.3077% {
    transform: matrix3d(0.9998, 0, 0, 0, 0, 1.00016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
94.8718% {
    transform: matrix3d(0.99988, 0, 0, 0, 0, 1.0001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
97.4359% {
    transform: matrix3d(0.99995, 0, 0, 0, 0, 1.00004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
}
