.tree {
	
	li {
		padding:0 3px;
	}

	li a {
		border-radius:4px;
		padding:7px 0;
		display: block;
		color:$treeprim;
		&.active {
			font-weight:bold;
		}
	}
	
	>li {
		font-size:13px;
		border-top:1px solid $linecolor2;
		li {
			margin-left:8px;
			a {
				font-weight:normal;
				padding-left:8px;
				//color:$treesec;
				&.active {
					background:url(img/active.gif) no-repeat left center;
					padding-left:7px;
				}
				&:hover {
					background-color:#f2f2f2;
				}
			}
			li {
				color:#333333;
			}
		}
		//li a:hover {
			//background-color:$linecolor;	
		//}
		&:first-child {
			border-top:0;
		}
	}
	
}