.shop-lang {
	cursor:pointer;
	span {
		padding-left:20px;
		background:transparent url(/css/flags/flag_sweden.png) no-repeat 0px 2px;
	}
}

.flag-no span {
	background-image:url(/css/flags/flag_norway.png);
}
.flag-fi span {
	background-image:url(/css/flags/flag_finland.png);
}

.shop-country-sel {
	list-style:none;
	
}