// Css Settings

$pagebg: #fff;
$maincolor: #ccc;
$seccolor: #3498db;
$white: #fff;
$black: #000;


$bodyFontFamily: 'Open Sans','Droid Sans', sans-serif;
$bodyFontColor: #232323;
$rowWidth: 800px;
$pagemargin: 0 auto;
$screenSmall: 768px;

$clmGutter: 20px;
$fontSize: 13px;
$linecolor2: #6e6e6e;
$linecolor: #EEE;

$btnradius: 4px;
$btnpadding: 2px 12px;
$btncolor: #f8f8f8;
$btnTextColor: #000;

$linkcolor: $seccolor;



// treemenu
$treeprim: #222222;
$treesec: #999;


// navbar
$navcolor: #222;
$navhover: #f2f2f2;
$navhovercolor: #222;
$navpadding: 7px 10px;
$navbarbg: #f2f2f2;

$lightgray: #eee;

$cartbg: #fff;
$carttxt: #222;

$btnbg: #f8f8f8;
$buybtncolor: #6fb93b;

$infobg: #fff;

// Dont change after templates created!

$totalclms: 12;
$mobileTotalclms: 4;

$navFlyoutBaseWidth: 130px;

$rottime: 2s;
